MONGODB_URI=mongodb+srv://USUARIO:CONTRASEÑA@cluster0.xxxxx.mongodb.net/ventaCamisetas?retryWrites=true&w=majority
JWT_SECRET=cambia_esta_clave_por_una_segura
SETUP_SECRET=opcional_para_forzar_seed_manual
